/* Main Page */
.main-container {
  height: 120vh;
  text-align: center;
  padding-top: 1rem;
  background-image: url("/public/bg-image.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(247, 189, 0);
  background-size: 650px;
}

.main-container h1 {
  margin: 2.2rem 1rem;
  color: rgb(22, 21, 21);
  font-size: 3.5rem;
  width: 45%;
}
.main-container h2 {
  margin: 4rem 4rem;
  color: rgb(22, 21, 21);
  width: 35%;
}
.button-container {
  width: 50%;
}

.btn {
  background-color: rgb(22, 21, 21);
  color: rgb(255, 149, 0);
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 20px;
  border: transparent;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(249, 248, 247);
  color: black;
}
