* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Page */
.main-container {
  text-align: center;
  margin-top: 15rem;
  display: none;
}

.main-container h1 {
  margin-bottom: 2rem;
}
.main-container h2 {
  margin-bottom: 2rem;
}

.btn {
  background-color: black;
  color: rgb(255, 149, 0);
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 20px;
  border: transparent;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(255, 149, 0);
  color: black;
}

/* API Display food page */
/* .api-container {
  display: none;
} */

.api-container {
  margin: 100px;
  display: grid;
  grid-template-rows: repeat(2, 400px);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 50px;
}

.meal-img,
.ing-list,
.meal-vid,
.recipe-cont {
  border: 2px solid black;
  margin-bottom: 20px;
}

@media (min-width: 490px) and (max-width: 480px) {
  .meal-img,
  .ing-list,
  .meal-vid,
  .recipe-cont {
    width: 100%;
  }
}

.heading {
  margin-top: 50px;
  text-align: center;
}

.meal-img img {
  width: 100%;
  height: 100%;
}
