* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* API PAGE */

.main-api-container {
  text-align: center;
  margin-top: 50px;
}

.api-container {
  background-color: black;
  color: white;
  margin: 50px;
  padding-bottom: 50px;
}
.title-heading {
  color: rgb(255, 123, 0);
}

.title-heading h1,
h2 {
  margin-bottom: 20px;
}

.meal-img,
.ing-list,
.meal-vid,
.recipe-cont {
  margin-bottom: 20px;
}

.meal-img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 70px;
}

/* Recipe component */
.recipe-cont h2 {
  text-decoration: underline;
}

.recipe-text {
  margin: 0 100px;
  color: rgb(255, 123, 0);
  line-height: 2;
  word-spacing: 3px;
  font-size: 18px;
}

/* Video Component */
.video-heading {
  text-decoration: underline;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Media querries */

@media (min-width: 490px) and (max-width: 480px) {
  .meal-img,
  .ing-list,
  .meal-vid,
  .recipe-cont {
    width: 100%;
  }
}

.heading {
  margin-top: 50px;
  text-align: center;
}

.meal-img img {
  width: 100%;
  height: 100%;
}

.ing-list {
  padding: 20px 0 0 40px;
}
